<div id="mySidenav" class="sidenav">
    <div class="product-name">
        <h1 class="text-center">SEMNOTAM</h1>
    </div>

    <div *ngIf="isUserLoggedIn">
        <a routerLink="/messages" [style.color]="colorMessage">Message Inbox</a>
        <a routerLink="/contexts" [style.color]="colorContext">Context Hierarchy</a>
        <a routerLink="/parameters" [style.color]="colorParameter">Parameters</a>
        <a routerLink="/notams" [style.color]="colorNotam">Query Notams</a>
        <a routerLink="/transaction" [style.color]="colorTransaction">Transaction</a>
        <a (click)="logout()">Logout</a>
    </div>
</div>