<p-dialog [(visible)]="display" [closable]="false" [width]="600">
        <p-header>
            Add ParameterValue
        </p-header>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" name="name" [(ngModel)]="parameterValue.name" id="name">
        </div>
    

        <p-footer>
            <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-sm btn-success" (click)="save()">Save</button>
        </p-footer>
</p-dialog>