<div class="container-fluid content-container" *ngIf="contexts">
    <p-treeTable [value]="contexts" (onRowClick)="navigateToDetail($event)">
        <p-column *ngFor="let column of columns" field="{{ column.name }}" header="{{ column.name }}"></p-column>
        <p-column field="detailLink" header="" [style]="{'width':'5%', 'text-align':'center'}">
            <ng-template let-col let-entry="rowData" let-ri="rowIndex" pTemplate="body">
                <div class="w-100 h-100 link" (click)="navigateToDetail(entry)">
                    <i class="fa fa-search text-primary" aria-hidden="true"></i>
                </div>
            </ng-template>
        </p-column>
    </p-treeTable>
    <button type="button" class="btn btn-primary margin-top-16" (click)="openContextDialog()" [disabled]="!allowedOperations.AddContext">Create Context</button>
</div>

<add-update-context-dialog [(display)]="showCreateContextDialog" (callback)="addContextCallback($event)"></add-update-context-dialog>
