<div class="container-fluid content-container">
  <p-dataTable [value]="parameters" selectionMode="single">
    <p-column field="name" header="Name" [style]="{'width':'30%'}"></p-column>
    <p-column header="Details" [style]="{'width':'10%'}">
      <ng-template let-parameter="rowData" let-i="rowIndex" pTemplate="body">
        <div class="w-100 text-center link" (click)="showDetails(parameter)">
          <a><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

  <button type="button" class="btn btn-primary margin-top-16" (click)="newParameter()">Create Parameter</button>
</div>
