<div class="content-container" *ngIf="message != null">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 no-padding">
                <h3>{{ message.title }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 no-padding">
                <h5>Status</h5>
                <p> <i class="fa fa-envelope text-primary" aria-hidden="true" *ngIf="!message.read && !message.acknowledged"></i>
                    <i class="fa fa-envelope-open text-primary" aria-hidden="true" *ngIf="message.read && !message.acknowledged"></i>
                    <i class="fa fa-check text-success" aria-hidden="true" *ngIf="message.acknowledged"></i>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 no-padding">
                <h5>Time</h5>
                <p>{{ message.time }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 no-padding">
                <h5>Type</h5>
                <p>{{ message.type }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 no-padding">
                <h5>Element</h5>
                <p>{{ message.affectedElementType }} {{ message.affectedElement }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 no-padding">
                <h5>Sender</h5>
                <p>{{ message.sender.name }}</p>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 no-padding">
                <h5>Text</h5>
                <p>{{ message.content }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 no-padding">
                    <button type="button" class="btn btn-primary" (click)="acknowledgeMessage()">Acknowledge</button>
            </div>
        </div>
    </div>
</div>