<p-dialog [(visible)]="display" [closable]="false" [width]="400">
        <p-header>
            Add RuleDeveloper
        </p-header>
    
        <div class="form-group no-margin margin-top-16">
            <label>Name</label>
        </div>
        <p-dropdown [options]="ruleDevelopers" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
    
        <p-footer>
            <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-sm btn-success" (click)="save()">Save</button>
        </p-footer>
    </p-dialog>