@import '../../../styles/variables';

.navbar-color {
  background-color: $color-secondary;
}

.navbar-index {
  z-index: 10;
}

a {
  color: $color-primary;

  &:hover {
    color: white;
  }
}

.logout-button {
  border-color: $color-primary;
  color: $color-primary;

  &:hover {
    border-color: $color-primary;
    background-color: $color-primary;
    color: $color-secondary;
  }
}

.btn-history-dd {
  color: $color-primary;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.navbar{
  background-color: white;
  padding-left: 10px;
  padding-top: 0px;
}
