<div class="place" [style.width.px]="width" *ngIf="userName">
    <div class="row bg-primary height text-center headers" >
        <div class="col-md-4 font-style">
            <p class="text-center text">{{ getCurrentAction }}</p>
        </div>
        <div class="col-md-4 font-style">
            <p class="text-center text">{{ transactionState }}</p>
        </div>
        <div class="col-md-4 font-style">
            <p class="text-center text">{{ userName }}</p>
        </div>
    </div>
</div>
