.place {
    position: fixed;
    top: 0px;
    left: 250px;
}

.height {
    height: 60px;
}

.side-border {
    border-left: white solid 2px;
    border-right: white solid 2px;
}

.font-style {
    font-size: 25px;
    color: white;
}

.text {
    margin-top: 11px;
    margin-bottom: 0px;
}