<div class="container-fluid content-container">
    <div class="form-group">
        <label>detParameterValue</label>
        <textarea type="text" rows="4" class="form-control" ></textarea>
    </div>

    <div class="margin-top-32">
        <p-treeTable [value]="parameterValues">
            <p-column field="name" header="Name"></p-column>
            <p-column header="" [style]="{'width':'5%', 'text-align':'center'}">
                <ng-template let-col let-entry="rowData" let-ri="rowIndex" pTemplate="body">
                    <div class="w-100 h-100 link">
                        <i class="fa fa-plus text-success" aria-hidden="true"></i>
                    </div>
                </ng-template>
            </p-column>
            <p-column header="" [style]="{'width':'5%', 'text-align':'center'}">
                <ng-template let-col let-entry="rowData" let-ri="rowIndex" pTemplate="body">
                    <div class="w-100 h-100 link">
                        <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                    </div>
                </ng-template>
            </p-column>
        </p-treeTable>
        <button type="button" class="btn btn-primary margin-top-16">Delete Parameter</button>
    </div>
</div>

