<p-dialog [visible]="display" [closable]="false" [width]="600">
    <p-header>
        {{ isContextualize ? "Contextualize Rule to" : ""}}
        {{ isDecontextualize ? "Decontextualize Rule to" : ""}}
        {{ isMerge ? "Merge Context to" : ""}}
    </p-header>

    <div class="form-group no-margin margin-top-16">
        <label>Context</label>
    </div>
    <p-dropdown [options]="dropDownItems" [(ngModel)]="selectedContextString" optionLabel="name" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>

    <p-footer>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-sm btn-success" (click)="save()">{{ isContextualize ? 'Contextualize' : (isDecontextualize ? 'Decontextualize' : 'Merge')}}</button>
    </p-footer>
</p-dialog> '