<p-dialog [visible]="display" [closable]="false" [width]="400">
    <p-header>
        {{ isAdd ? "Create new Context" : "Update Context"}}
    </p-header>
    
    <div *ngFor="let parameter of parameterWithValues">
        <div class="form-group no-margin margin-top-16">
            <label>{{ parameter.name }}</label>
        </div>
        <p-dropdown [options]="parameter.parameterValues" [(ngModel)]="selectedParameterValues[parameter.name]" optionLabel="name" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
    </div>

    <div *ngIf="isAdd">
        <div class="form-group no-margin margin-top-16">
            <label>RuleDeveloper</label>
        </div>
        <p-dropdown [options]="ruleDevelopers" [(ngModel)]="ruleDeveloper" optionLabel="name" [style]="{'width':'100%'}" appendTo="body"></p-dropdown>
    </div>

    <p-footer>
        <button type="button" class="btn btn-sm btn-danger" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-sm btn-success" (click)="save()">Save</button>
    </p-footer>
</p-dialog>