<div class="container-fluid content-container">
  <p-treeTable [value]="composedOperationHierarchy" item-width="500px">
      <p-column field="label" header=""></p-column>
  </p-treeTable>
  
  <button type="button" class="btn btn-primary margin-top-16" (click)="commitTransaction()" [disabled]="!(allowedOperations && allowedOperations.CommitTransaction)">Commit Transaction</button>
  <button type="button" class="btn btn-primary margin-top-16" (click)="rollbackTransaction()" [disabled]="!(allowedOperations && allowedOperations.RollbackTransaction)">Rollback Transaction</button>
</div>
